<manifest package="io.scrollback.appvirality" xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!-- Optional permissions. GET_ACCOUNTS is used to pre-populate customer's email in form fields. -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <!-- Optional permissions. WRITE_EXTERNAL_STORAGE is used to improve the performance by storing campaign images. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>
